.mainContainer{
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    background-color: rgba(65,74,108,0.95);;
    color: rgb(42,132,148);
    width: 100vw;
    height: 100%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.navBar h1{
    margin-left: 1rem;
    color:white;
}



.nftContainer{
    display: grid;
    background-color: rgb(19,26,53);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    border-radius: 10px 10px 0px 0px;
    width: 85%;
    height: 100%;
    padding: 1em;
    box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
}

.walletContainer{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid rgb(42,132,148);
    padding: 0.1em 1em;
    border-radius: 10px;
    margin-right: 2rem;
    box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
}

.walletContainer img {
    margin-right: 0.5em;
}

.addressContainer{
    color:white;
    cursor: pointer;
}